<% content_for(:title, 'ランキング') %>
<div class="container mt-4">
  <h1 class="text-center mb-4">
    <i class="bi bi-trophy-fill text-warning"></i></i> ランキング <i class="bi bi-trophy-fill text-warning"></i>
  </h1>

  <div class="alert alert-info text-center mx-auto" style="max-width: 400px;">
    <% if logged_in? %>
      <% if @current_user_rank %>
        <h4>
          <%= current_user.name %>
            <% if current_user.selected_badge_id.present? %>
              <% badge = Badge.find_by(id: current_user.selected_badge_id) %>
              <% if badge %>
                <%= image_tag asset_path(badge.image), style: 'width: 25px; height: 25px; margin-left: 8px; vertical-align: middle;' %>
              <% end %>
            <% end %>
          の成績
        </h4>
        <p class="mb-0">
          <span class="badge bg-primary fs-5"><%= @current_user_rank %> 位</span>
          <span class="fs-5"><%= @current_user_high_score %> 点</span>
        </p>
      <% else %>
        <p>まだゲームをプレイしていません</p>
      <% end %>
    <% else %>
      <p>ログインするとランキングに参加できます</p>
    <% end %>
  </div>

  <table class="table table-bordered text-center">
    <thead class="table-dark">
      <tr>
        <th>順位</th>
        <th>ユーザー名</th>
        <th>スコア</th>
        <th>プレイ日時</th>
      </tr>
    </thead>
    <tbody>
      <% prev_score = nil %>
      <% j = 1 %>
      <% @top_ten_games.each.with_index(1) do |game, i| %>
        <% highlight = game.user.id == current_user.id ? 'table-warning' : '' %>
        <tr class="<%= highlight %>">
          <td class="fw-bold">
            <% if i == 1 %>
              <% prev_score = game.total_score %>
            <% end %>

            <% if game.total_score == prev_score %>
              <%= j %> 位
              <% prev_score = game.total_score %>
            <% else %>
              <%= j = i %> 位
              <% prev_score = game.total_score %>
            <% end %>
          </td>
          <td>
            <p>
              <%= game.user.name %>
              <% if game.user.selected_badge_id.present? %>
                <% badge = Badge.find_by(id: game.user.selected_badge_id) %>
                <% if badge %>
                  <%= image_tag asset_path(badge.image), style: 'width: 25px; height: 25px; margin-left: 8px; vertical-align: middle;' %>
                <% end %>
              <% end %>
            </p>
          </td>
          <td class="fw-bold text-primary"><%= game.total_score %> 点</td>
          <td><%= (game.finished_at || Time.parse('2099-01-01')).in_time_zone('Asia/Tokyo').strftime('%Y-%m-%d %H:%M:%S') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5700093288244455"
    crossorigin="anonymous"></script>
